body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0d0d0d, #1a1f4d);
  overflow: hidden;
  font-family: sans-serif;
  color: white;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  position: relative;
  width: 320px;
  height: 440px;
}

.form-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(-50%);
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

  top: 0;
  left: 0;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

.form-box.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
  z-index: 2;
}

.form-box.inactive {
  opacity: 0;
  transform: scale(1.05);
  pointer-events: none;
  z-index: 1;
}

.form-box h1 {
  margin-bottom: 15px;
}

.input-box {
  position: relative;
  margin: 10px 0;
}

.input-box input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  color: white;
}

.input-box input:focus {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #4cc9f0;
}

.btn {
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #4cc9f0;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.register-link,
.remember-forgot {
  font-size: 14px;
  margin-top: 10px;
}

.register-link a,
.remember-forgot a,
span {
  color: #4cc9f0;
  cursor: pointer;
  text-decoration: none;
}
